<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Version</key>
	<real>1</real>
	<key>ControlSurfaceParameterOrder</key>
	<array>
		<string>1 Speed</string>
		<string>2 Response</string>
		<string>3 Drive</string>
		<string>4 Cabinet</string>
		<string>5 Fast Rate</string>
		<string>6 Bright</string>
	</array>
</dict>
</plist>
