<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ControlSurfaceParameterOrder</key>
	<array>
		<string>0 16 kHz</string>
		<string>1 8 kHz</string>
		<string>2 4 kHz</string>
		<string>3 2 kHz</string>
		<string>4 1 kHz</string>
		<string>5 500 Hz</string>
		<string>6 250 Hz</string>
		<string>7 125 Hz</string>
		<string>8 62.5 Hz</string>
		<string>9 31.25 Hz</string>
		<string>11 Detune</string>
		<string>14 In</string>
		<string>13 Drive</string>
		<string>12 Output Mode</string>
		<string>10 Phase</string>
		<string>15 Volume</string>
	</array>
	<key>Version</key>
	<real>1</real>
</dict>
</plist>
